mixin button(props = {})
	+e({tag: props.href ? 'a' : 'button'}).button.button__(
		href=props.href
		class=`${props.modes ? `_${props.modes.join(' _')}` : ''}`)&attributes(attributes)
		if props.icon
			+e.SPAN.icon
				+icon(props.icon)
		+e.SPAN.text
			if block
				block
