//- core
include core/bemto/bemto
include core/icon
include core/slider/slider-core
include core/section/section-core
//- include core/

//- buttons
include buttons/button
//- include buttons/

//- items
//- include items/

//- parts
include parts/breadcrumbs
//- include parts/

//- modules
//- include modules/

//- sections
//- include sections/
