.small-mobile-hidden {
	@include to(small-mobile) {
		display: none;
	}
}

.large-mobile-hidden {
	@include to(large-mobile) {
		display: none;
	}
}

.small-tablet-hidden {
	@include to(small-tablet) {
		display: none;
	}
}

.medium-tablet-hidden {
	@include to(medium-tablet) {
		display: none;
	}
}

.large-tablet-hidden {
	@include to(large-tablet) {
		display: none;
	}
}

.small-desktop-hidden {
	@include to(small-desktop) {
		display: none;
	}
}

.large-desktop-hidden {
	@include to(large-desktop) {
		display: none;
	}
}

.mackbook-hidden {
	@include to(mackbook) {
		display: none;
	}
}

.hd-hidden {
	@include to(hd) {
		display: none;
	}
}

.from-small-mobile-visible {
	@include to(440px) {
		display: none;
	}
}

.from-large-mobile-visible {
	@include to(large-mobile) {
		display: none;
	}
}

.from-small-tablet-visible {
	@include to(small-tablet) {
		display: none;
	}
}

.from-medium-tablet-visible {
	@include to(medium-tablet) {
		display: none;
	}
}

.from-large-tablet-visible {
	@include to(large-tablet) {
		display: none;
	}
}

.from-small-desktop-visible {
	@include to(small-desktop) {
		display: none;
	}
}

.from-large-desktop-visible {
	@include to(large-desktop) {
		display: none;
	}
}

.from-mackbook-visible {
	@include to(mackbook) {
		display: none;
	}
}

.from-hd-visible {
	@include to(hd) {
		display: none;
	}
}
